.u-section-1 .u-sheet-1 {min-height: 843px}
.u-section-1 .u-tabs-1 {min-height: 723px; margin: 60px auto 60px 0}
.u-section-1 .u-tab-link-1 {font-size: 1.25rem; background-image: none; font-weight: 600; padding: 10px 25px}
.u-section-1 .u-tab-link-2 {font-size: 1.25rem; background-image: none; font-weight: 600; padding: 10px 25px}
.u-section-1 .u-tab-link-3 {font-size: 1.25rem; background-image: none; font-weight: 600; padding: 10px 25px}
.u-section-1 .u-tab-item-4 {margin-bottom: 5px; margin-top: 0}
.u-section-1 .u-tab-link-4 {font-size: 1.25rem; background-image: none; font-weight: 600; padding: 10px 25px}
.u-section-1 .u-tab-item-5 {margin-top: 0; margin-bottom: 0}
.u-section-1 .u-tab-link-5 {font-size: 1.25rem; background-image: none; font-weight: 600; padding: 10px 25px}
.u-section-1 .u-tab-pane-1 {background-image: none}
.u-section-1 .u-container-layout-1 {padding: 30px 25px}
.u-section-1 .u-text-1 {margin: 0 auto 0 0}
.u-section-1 .u-text-2 {margin: 20px auto 0 0}
.u-section-1 .u-text-3 {margin: 52px 965px 0 0}
.u-section-1 .u-btn-1 {border-style: none; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; font-size: 0.75rem; margin: 20px auto 0 0; padding: 10px 16px}
.u-section-1 .u-btn-2 {border-style: none; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; font-size: 0.75rem; margin: -39px auto 0 162px; padding: 10px 16px 10px 15px}
.u-section-1 .u-btn-3 {border-style: none; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; font-size: 0.75rem; margin: -39px auto 0 314px; padding: 10px 16px 10px 15px}
.u-section-1 .u-tab-pane-2 {background-image: none}
.u-section-1 .u-container-layout-2 {padding: 30px 25px}
.u-section-1 .u-text-4 {margin-top: 0; margin-bottom: 0}
.u-section-1 .u-text-5 {margin-left: 0; margin-top: 20px; margin-bottom: 0}
.u-section-1 .u-text-6 {margin-left: 0; margin-bottom: 0; margin-top: 20px}
.u-section-1 .u-table-1 {width: 492px; margin: 30px auto 0 0}
.u-block-9977-99 {height: 46px}
.u-section-1 .u-btn-4 {border-style: none none solid; padding: 0}
.u-section-1 .u-btn-5 {border-style: none none solid; background-image: none; padding: 0}
.u-section-1 .u-btn-6 {padding: 0}
.u-section-1 .u-btn-7 {padding: 0}
.u-section-1 .u-btn-8 {padding: 0}
.u-section-1 .u-btn-9 {padding: 0}
.u-section-1 .u-btn-10 {padding: 0}
.u-section-1 .u-btn-11 {padding: 0}
.u-section-1 .u-btn-12 {padding: 0}
.u-section-1 .u-btn-13 {padding: 0}
.u-section-1 .u-btn-14 {padding: 0}
.u-section-1 .u-btn-15 {padding: 0}
.u-block-9977-114 {height: 46px}
.u-section-1 .u-tab-pane-3 {background-image: none}
.u-section-1 .u-container-layout-3 {padding: 30px 25px}
.u-section-1 .u-text-7 {margin-top: 0; margin-bottom: 0}
.u-section-1 .u-image-1 {width: 936px; height: 970px; margin: 30px auto 0 0}
.u-section-1 .u-text-8 {margin: 20px auto 0 0}
.u-section-1 .u-image-2 {width: 936px; height: 655px; margin: 30px auto 0 0}
.u-section-1 .u-tab-pane-4 {background-image: none; margin-top: 0; margin-bottom: 0}
.u-section-1 .u-container-layout-4 {padding: 30px 25px}
.u-section-1 .u-btn-16 {border-style: none; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; margin: 20px auto 0 0}
.u-section-1 .u-text-9 {margin: 20px auto 0 0}
.u-section-1 .u-text-10 {margin: 20px 10px 0 0}
.u-section-1 .u-text-11 {margin: 20px 890px 0 1px}
.u-section-1 .u-btn-17 {border-style: none; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; font-size: 0.75rem; background-image: none; padding: 12px 11px 12px 10px}
.u-section-1 .u-text-12 {margin: 20px 10px 0 1px}
.u-section-1 .u-text-13 {margin: 20px auto 0 1px}
.u-section-1 .u-btn-18 {border-style: solid; letter-spacing: 1px; font-size: 0.75rem; font-weight: 700; text-transform: uppercase; padding: 12px 11px 12px 10px}
.u-section-1 .u-text-14 {margin: 20px 10px 0 1px}
.u-section-1 .u-text-15 {margin: 20px auto 0 0}
.u-section-1 .u-btn-19 {border-style: none; letter-spacing: 1px; font-weight: 700; text-transform: uppercase; font-size: 0.75rem; background-image: none; padding: 12px 11px 12px 10px}
.u-section-1 .u-text-16 {margin: 20px 10px 0 0}
.u-section-1 .u-tab-pane-5 {background-image: none; margin-top: 0; margin-bottom: 0}
.u-section-1 .u-container-layout-5 {padding: 30px}
.u-section-1 .u-text-17 {margin: 0 auto 0 0}
.u-section-1 .u-btn-20 {border-style: none; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; font-size: 0.75rem; margin: 20px auto 0 0; padding: 10px 16px}
.u-section-1 .u-btn-21 {border-style: none; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; font-size: 0.75rem; margin: 20px auto 0 0; padding: 10px 16px} 

@media (max-width: 1199px){ .u-section-1 .u-tabs-1 {height: auto; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-3 {margin-right: 765px}
.u-section-1 .u-btn-2 {margin-left: 0}
.u-section-1 .u-btn-3 {margin-left: 114px}
.u-section-1 .u-image-1 {width: 890px; height: 922px}
.u-section-1 .u-image-2 {width: 890px; height: 623px}
.u-section-1 .u-text-11 {margin-right: 691px; margin-left: 0} }

@media (max-width: 991px){ .u-section-1 .u-text-3 {margin-right: 545px}
.u-section-1 .u-btn-3 {margin-left: 0}
.u-section-1 .u-image-1 {width: 670px; height: 694px}
.u-section-1 .u-image-2 {width: 670px; height: 469px}
.u-section-1 .u-text-11 {margin-right: 471px} }

@media (max-width: 767px){ .u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-3 {margin-right: 395px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-1 {width: 520px; height: 539px}
.u-section-1 .u-image-2 {width: 520px; height: 364px}
.u-section-1 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-11 {margin-right: 321px}
.u-section-1 .u-container-layout-5 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-text-3 {margin-right: 195px}
.u-section-1 .u-table-1 {width: 320px}
.u-section-1 .u-image-1 {width: 320px; height: 332px}
.u-section-1 .u-image-2 {width: 320px; height: 224px}
.u-section-1 .u-text-11 {margin-right: 121px} }